.menu {
	position: fixed;
	top: 200px;
	left: 0;
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
	}
}

.courses {
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;

		li {
			border-top: 1px solid var(--green);
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
}
