.container {
	section {
		border-bottom: 1px solid var(--green);
		padding-bottom: var(--space);
	}

	.intro img {
		width: 100%;
		padding-bottom: 1rem;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
	}
	.apps {
		li {
			display: flex;
			flex-direction: row;
			width: calc(50% - var(--gutter));

			img {
				padding-right: 1rem;
			}

			a {
				padding-right: 1rem;
			}
		}
	}
	.logos {
		img {
			height: 2.2rem;
			padding-right: 2rem;
		}
	}
}
