.menu {
	position: fixed;
	top: 200px;
	left: 0;
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
	}
}

.apps {
	> section {
		border-top: 1px solid var(--green);
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
}
