.aside {
	@include mq($until: desktop) {
		display: none;
	}
	position: fixed;
	top: 200px;
	left: 0;
	padding-left: var(--outer-margin);
	max-width: 20%;
	line-height: 1.25;
	a {
		&:hover,
		&.active {
			color: var(--green) !important;
		}
	}

	h5 {
		padding-bottom: 1rem;
	}
	ul {
		li {
			padding-bottom: 0.75em;
		}
		list-style: none;
	}
}
