/*
@font-face {
	font-family: 'Arial';
	src: url('../public/fonts/...') format('woff2');
	font-weight: normal;
	font-style: normal;
}
*/

@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Hedvig+Letters+Serif:opsz@12..24&display=swap");
