@use "mediaqueries" as *;

html,
body {
	font-size: 16px;
	font-weight: normal;
	font-family: var(--body-font);
	line-height: 1em;

	@include mq($from: tablet) {
		font-size: 20px;
	}

	@include mq($from: wide) {
		font-size: 22px;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: normal;
	line-height: 1.2;
	font-family: "Hedvig Letters Serif", "Times New Roman", Times, serif;
}

h1 {
	padding-top: 0.25em;
	padding-bottom: 1em;
}

h2 {
	font-size: 1.7rem;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
}

h3 {
	font-size: 1.4rem;
	padding-bottom: 0.5em;
}

h5 {
	font-size: 0.7rem;
	font-weight: normal;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

p.intro,
.intro,
.intro p {
	font-size: 1.18rem;
}

nav,
aside,
footer,
.small {
	font-size: 0.86rem;
}
